<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dataimport.mapper.master.VideoTypeMapper">


    <insert id="addVideoType" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO xiaoe_video_type(create_user,type_name) VALUES(#{videoType.createUser},#{videoType.typeName})
    </insert>
</mapper>